/auto-save-list/
/bookmarks
/elpa/
*~
/powerline/
/transient/
/.cache/
/.lsp-session-v1
/.org-id-locations
/data/
/kkcrc
/org-roam.db
/settings.el
/eshell/
/projects
/request/
/url/
/quelpa/
/eln-cache/30.1-de84bc8a/*.eln
/tree-sitter/
/type-break
/tramp
/network-security.data
